# Environment variables
**/*.env
**/env
**/venv
**/temp
**/tmp

# Mosquitto data and log files
mosquitto/config/pwfile
mosquitto/data/*
mosquitto/log/*

# RabbitMQ data and log files
rabbitmq/data/*

# IDE files
.idea
