# This environment variable is used to let the container be discovered by nginx-proxy to map the virtual hosts and
# ports for the Mosquitto server.
# Default: {"mqtt.sd40.lan":{"/":{"port":1883,"dest":""}},"mqtt.sd40.lan":{"/":{"port":9001,"dest":""}}}
VIRTUAL_HOST_MULTIPORTS={"mqtt.sd40.lan":{"/":{"port":1883,"dest":""}},"mqtt.sd40.lan":{"/":{"port":9001,"dest":""}}}
